@font-face {
  font-family: "Guardians";
  src: url("/fonts/Guardians.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LexendDecaRegular";
  src: url("/fonts/LexendDecaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sans: "Guardians", "LexendDecaRegular", sans-serif;
}
