@import "tailwindcss";
@import "./styles/font.css";

html {
  scroll-behavior: smooth;
}
body,
a {
  font-family: var(--font-sans);
  cursor: url("/arrow.cur") 16 16, auto;
}
body {
  background-color: black;
}
input,
textarea {
  cursor: text;
}
@font-face {
  font-family: "Guardians";
  src: url("/fonts/Guardians.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LexendDecaRegular";
  src: url("/fonts/LexendDecaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-guardians {
  font-family: "Guardians", sans-serif;
}

.font-lexend {
  font-family: "LexendDecaRegular", sans-serif;
}